#General
*~

#Java
*.class

#Android
bin
gen

#Eclipse
.project
.classpath
.settings
.metadata

# this was an experiment and I dont want to pollute the repo
#IntelliJ IDEA
.iml

#Git
.gitignore

#Maven
target
release.properties
pom.xml.*
